<!-- DONATE PANE -->
<div class="container-fluid" id="pane-donate">
  <div class="row">
    <p>Help support the team by donating to our <a href="https://gritstarter.umbc.edu/p/robosub-2019/" target="_blank">GritStarter campaign!</a></p>
    <a href="https://gritstarter.umbc.edu/p/robosub-2019/" target="_blank">
      <button type="button" class="btn btn-primary btn-large">Explore Campaign</button>
    </a>
    <a href="https://gritstarter.umbc.edu/p/robosub-2019/pledge" target="_blank">
      <button type="button" class="btn btn-success btn-large">Donate Now!</button>
    </a>
  </div>
    
</div>