<!-- SPONSORS -->
<div class="container" style="padding-bottom:32px;border:2px solid black;">
    <div class="row">
      <h3 style="text-align:center;font-size:82px;margin-bottom:18px;">SPONSORS</h3>
      <ul class="list-inline text-center">
        <li class="orgs">
          <a href="https://www.baesystems.com/en/home">
            <img src='<%- theme.sponsor_one %>' alt="baesystems" style="height:100px;width:100px;margin:8px;" />
          </a>
        </li>
      </ul>
    </div>
    <div class="row" style="margin-top:22px;">
      <ul class="list-inline text-center">
        <li class="orgs">
          <a href="http://www.robonation.org/competition/robosub">
            <img src='<%- theme.footer_one %>' alt="robosub" style="height:90px;width:90px;margin:8px;" />
          </a>
        </li>
        <li class="orgs">
          <a href="https://www.facebook.com/RetrieverRobotics/">
            <img src='<%- theme.footer_two %>' alt="retriever robotics" style="height:90px;width:90px;margin:8px;" />
          </a>
        </li>
        <li class="orgs">
          <a href="https://www.umbc.edu">
            <img src='<%- theme.footer_three %>' alt="umbc" style="height:90px;margin:8px;" />
          </a>
        </li>
      </ul>
    </div>
  </div>