<!-- AWARDS PANE -->
<div class="container-fluid" id="pane-winner"> 
  <h1 style="font-size:38px;text-align:center;color:black;">
    <span style="font-size:64px;">
      <img style="width:130px;height:130px;"src='<%- theme.party %>' />
        2018 WINNER</span> of<br /> 
    <span style="font-size:64px;">"BEST FIRST TIME ENTRY"
    </span>
  </h1>
  <div style="display:flex;align-items:center;justify-content:center;flex-direction:column;">
    <img src='<%- theme.winner %>' alt='best first time entry' style="text-align:center;margin-top:22px;" />
    <p style="text-align:center;color:black;font-size:16px;"><i>
      Picture: (left to right) Brandon Guerrero, Connor Strang, and Igor Savchenko at the 2018 International Robosub competition<br /> 
      Members unable to attend: Adam Grosse, Kevin Wegner, Daniel Lee, Logan Courtright
    </i></p>
  </div>
</div>